# ========================
# Directories to exclude
# ========================
__pycache__/
*.py[cod]
*.so
*.log
*.swp
*.ipynb
.ipynb_checkpoints/
.env
.env.*
.vscode/
.idea/
*.md

# Unused project folders
yolov5/
datasets/
scripts/
test/
models/
runs/
# FAISS index 
clip_embedder/faiss_indexes/

# Git & config files
.git/
.gitignore
Dockerfile
docker-compose.override.yml

# Heavy artifacts
*.mp4
*.jpg
*.jpeg
*.png
*.zip
*.tar.gz
*.csv
*.json

# Build cache
*.egg-info/
dist/
build/
