fastapi
uvicorn
loguru
pyyaml
pillow
alembic
altair
annotated-types
anyio
attrs
blinker
cachetools
charset-normalizer
click
cloudpickle
contourpy
cycler
databricks-sdk
docker
filelock
Flask
fonttools
fsspec
gitdb
GitPython
gmpy2
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
graphene
graphql-core
graphql-relay
greenlet
gunicorn
h11
hf-xet
httptools
huggingface-hub
idna
importlib_metadata
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
Mako
MarkupSafe
mkl-service
mkl_fft
mkl_random
mpmath
narwhals
networkx
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pgvector
proto-plus
protobuf
psutil
psycopg2-binary
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycocotools
pydantic==1.10.13
pydeck
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
referencing
regex
requests
rpds-py
rsa
safetensors
scipy
sentence-transformers
setuptools
setuptools-scm
six
smmap
sniffio
SQLAlchemy
sqlparse
starlette
sympy
tenacity
thop
threadpoolctl
tokenizers
toml
tornado
transformers
triton
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvloop
watchdog
watchfiles
websockets
Werkzeug
wheel
zipp
